<div class="row">
  <div class="form-group col-12 text-center">
    <figure class="figure">
      <img [src]="'assets/images/john-doe.png'" class="border border-secondary figure-img img-fluid rounded-circle" alt="John Doe">
      <caption class="figure-caption">John Doe</caption>
    </figure>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a href="#" class="nav-link"><i class="fa fa-home"></i> Dashboard</a>
      </li>
    </ul>
  </div>
</div>